# Predicting the price of Second Hand Cars

### The Project is regarding the prediction of price of second hand car prices in the market.

In [1]:
#Importing libraries
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split#for spliting the data into training and testing
from sklearn.metrics import accuracy_score,r2_score
from ipywidgets import interact #to display various input values

In [2]:
data = pd.read_csv('train.csv') #reading the data set

In [3]:
data.head() #checking the data

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
0,1,535651,798186,3,78945,1,2,14,177,73,123,351318.0
1,2,591911,861056,6,117220,5,9,9,148,74,95,285001.5
2,3,686990,770762,2,132538,2,8,15,181,53,97,215386.0
3,4,573999,722381,4,101065,4,3,11,197,54,116,244295.5
4,5,691388,811335,6,61559,3,9,12,160,53,105,531114.5

In [4]:
data.columns.values #checking columns names

array(['v.id', 'on road old', 'on road now', 'years', 'km', 'rating',
       'condition', 'economy', 'top speed', 'hp', 'torque',
       'current price'], dtype=object)

In [5]:
data.dtypes #checking data types of each column

v.id               int64
on road old        int64
on road now        int64
years              int64
km                 int64
rating             int64
condition          int64
economy            int64
top speed          int64
hp                 int64
torque             int64
current price    float64
dtype: object

In [6]:
data.shape #checking shape of data

(1000, 12)

In [7]:
data.isnull().sum(axis =0) #checking null values in dataset

v.id             0
on road old      0
on road now      0
years            0
km               0
rating           0
condition        0
economy          0
top speed        0
hp               0
torque           0
current price    0
dtype: int64

In [8]:
#converting the independent variable into 2D and dependent variable into 1D
x=data.iloc[:,1:4].values
y=data.iloc[:,-1].values

In [9]:
#Creating predefined xtrain,xtest,ytrain and ytest
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=13)
print(xtrain[0][0])

553490

In [10]:
#Creating with our own functions
def Train_Test_Split(x,y,test_size=0.5,random_state=None):
    n=len(y)
    if len(x)==len(y):
        if random_state:
            np.random.seed(random_state)
        shuffle_index=np.random.permutation(n)
        x=x[shuffle_index]
        y=y[shuffle_index]
        test_data=round(n*test_size)
        xtrain,xtest=x[test_data:],x[:test_data]
        ytrain,ytest=y[test_data:],y[:test_data]
        return xtrain,xtest,ytrain,ytest
    else:
        print("Data should be in same size.")
        xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=11)
print(xtrain[0][0])

553490

In [11]:
#training the data
model=LinearRegression()
model.fit(xtrain,ytrain)

LinearRegression()

In [12]:
m=model.coef_
c=model.intercept_

In [13]:
#prediction by mathematics by using the formula
#y=m1*x1+m2*x2+m3*x3+c
x=[3,2,1]
y_predict=(sum(m*x)+c)
y_predict

-447009.57903851516

In [14]:
#prediction of carprice
ytest_predict=model.predict(xtest)

In [15]:
#Defining a function to predict the car price depending upon KMs, Condition and years


def CarPricePredict(kilometer,condition,years):
    y_predict=model.predict([[kilometer,condition,years]])
    print("CarPrice is :",y_predict[0])

In [16]:
#Checking the function

CarPricePredict(4,12,13)

CarPrice is : -498837.4494765319

In [17]:
kil_min=data.iloc[:,1].min()
kil_max=data.iloc[:,1].max()
cond_min=data.iloc[:,2].min()
cond_max=data.iloc[:,2].max()
yrs_min=data.iloc[:,3].min()
yrs_max=data.iloc[:,3].max()

In [18]:
interact(CarPricePredict, kilometer  = (kil_min, kil_max),condition = (cond_min, cond_max), years = (yrs_min, yrs_max))

interactive(children=(IntSlider(value=600062, description='kilometer', max=699859, min=500265), IntSlider(valuâ€¦